.qcontent {
  background: url("../assets/img/bishop.jpg") center;
  background-size: cover;
}

.blockQuote img{
max-width: 10%;
}

.left{
  padding-top: 13em;
}

.right {
  text-align: right;
  padding-bottom: 1em;
}

.share{
  color: white;
}

h1 {
color: white;
text-align: center;
padding: 0em 0.7em;
font-family: Arial;
}
