page-favs {

}

.ctitle{

 margin: 0.5em 1em;
 color: #78a942;
 border-bottom: medium solid green;
}



.content{
  background-color: #f0f0f0;
}

.acard{
padding:  0em 0.7em;
margin-left: 1em;

border-bottom-style: solid;
border-bottom-width: medium;
border-bottom-color: green;
}


.acard{
  font-family: Arial;
  color:  #78a942;
}

.aacard{
  padding-right: 2em;
}
